In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('Btech_2020_master_data.csv')
df

         Roll             Name                        Email
0    2001CB01    Aron Dowbakin          adowbakin0@noaa.gov
1    2001CB02     Ramsey Sacks              rsacks1@epa.gov
2    2001CB03      Denys Fisby      dfisby2@yellowpages.com
3    2001CB04  Carissa Hibbart  chibbart3@blogtalkradio.com
4    2001CB05  Armstrong Covil            acovil4@google.cn
..        ...              ...                          ...
412  2001MM36     Man Baldelli          mbaldellibg@163.com
413  2001MM37   Michel Osichev      mosichevbh@berkeley.edu
414  2001MM38     Patsy Stoade             pstoadebi@cbc.ca
415  2001MM39     Randi Rippin          rrippinbj@google.es
416  2001MM40  Oswald Spencers       ospencersbk@tumblr.com

[417 rows x 3 columns]

In [37]:
df['branch'] = df['Roll'].apply(lambda x : x[4:6])
df

         Roll             Name                        Email branch
0    2001CB01    Aron Dowbakin          adowbakin0@noaa.gov     CB
1    2001CB02     Ramsey Sacks              rsacks1@epa.gov     CB
2    2001CB03      Denys Fisby      dfisby2@yellowpages.com     CB
3    2001CB04  Carissa Hibbart  chibbart3@blogtalkradio.com     CB
4    2001CB05  Armstrong Covil            acovil4@google.cn     CB
..        ...              ...                          ...    ...
412  2001MM36     Man Baldelli          mbaldellibg@163.com     MM
413  2001MM37   Michel Osichev      mosichevbh@berkeley.edu     MM
414  2001MM38     Patsy Stoade             pstoadebi@cbc.ca     MM
415  2001MM39     Randi Rippin          rrippinbj@google.es     MM
416  2001MM40  Oswald Spencers       ospencersbk@tumblr.com     MM

[417 rows x 4 columns]

In [38]:
branch = [i[4:6] for i in df['Roll']]
df['branch'] = branch
df

         Roll             Name                        Email branch
0    2001CB01    Aron Dowbakin          adowbakin0@noaa.gov     CB
1    2001CB02     Ramsey Sacks              rsacks1@epa.gov     CB
2    2001CB03      Denys Fisby      dfisby2@yellowpages.com     CB
3    2001CB04  Carissa Hibbart  chibbart3@blogtalkradio.com     CB
4    2001CB05  Armstrong Covil            acovil4@google.cn     CB
..        ...              ...                          ...    ...
412  2001MM36     Man Baldelli          mbaldellibg@163.com     MM
413  2001MM37   Michel Osichev      mosichevbh@berkeley.edu     MM
414  2001MM38     Patsy Stoade             pstoadebi@cbc.ca     MM
415  2001MM39     Randi Rippin          rrippinbj@google.es     MM
416  2001MM40  Oswald Spencers       ospencersbk@tumblr.com     MM

[417 rows x 4 columns]

In [39]:
branch_list = df.branch.value_counts().to_dict()

branch_list

{'ME': 83, 'EE': 83, 'CS': 81, 'CE': 66, 'CB': 64, 'MM': 40}

In [43]:
m = max(branch_list.values())
eql_br=len([i for i in branch_list.values() if i ==m ])
branch_name = list(branch_list.keys())[:eql_br]
branch_name.sort()
branch_name += list(branch_list.keys())[eql_br:]
branch_name

['EE', 'ME', 'CS', 'CE', 'CB', 'MM']

In [42]:
branchSize = list(branch_list.values())
branchSize

[83, 83, 81, 66, 64, 40]

In [54]:
n = 10
left = []
group = []
for i,size in enumerate(branchSize):
    l = [int(size/n) for i in range(n)]
    group.append(l)
    left.append(size - n * int(size/n) )

In [55]:
left

[3, 3, 1, 6, 4, 0]

In [56]:
group

[[8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
 [8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
 [8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
 [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
 [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
 [4, 4, 4, 4, 4, 4, 4, 4, 4, 4]]

In [57]:
start = 0
group = np.array(group) 
for i,std in enumerate(left):
    group[i][start:start + std] += 1
    if start + std > n:
        l = start + std - n
        group[i][:l] += 1
        start = l
    else:
        start = (start + std )%12 
    print(start)
group

3
6
7
3
7
7

array([[9, 9, 9, 8, 8, 8, 8, 8, 8, 8],
       [8, 8, 8, 9, 9, 9, 8, 8, 8, 8],
       [8, 8, 8, 8, 8, 8, 9, 8, 8, 8],
       [7, 7, 7, 6, 6, 6, 6, 7, 7, 7],
       [6, 6, 6, 7, 7, 7, 7, 6, 6, 6],
       [4, 4, 4, 4, 4, 4, 4, 4, 4, 4]])

In [58]:
group2 = np.transpose(group)
[sum(a) for a in group2]

[42, 42, 42, 42, 42, 42, 42, 41, 41, 41]

In [ ]:
g = []
t_group = np.transpose(group)
for i in range(n):
    if i < 9 :
        file = f'Group_G0{i+1}'
    else:
        file = f'Group_G{i+1}'
    g.append(file)
stats = pd.DataFrame(t_group,columns= list(branch_list.keys()),index = g)
stats['total'] = [sum(a) for a in group2]
stats

In [ ]:
branch = 'CB'
df[df.branch == branch].loc[:1]

In [ ]:
df = pd.read_csv('Btech_2020_master_data.csv')
branch = [i[4:6] for i in df['IITP Roll no.']]
df['branch'] = branch
for i in range(n):
        if i < 9 :
            file = f'Group_G0{i+1}.csv'
        else:
            file = f'Group_G{i+1}.csv'
        data = pd.DataFrame()
        for a,s in enumerate(t_group[i]):
            branch = list(branch_list.keys())[a]
            branch_student = df[df.branch == branch][:s]
            df = df.drop(df[df.branch == branch].index[:s],axis=0)
            data = pd.concat([data,branch_student],axis=0)
        data = data.drop(['branch'],axis=1)
        data = data.reset_index(drop= True)
        data.to_csv(file,index = False)
        print(df)

In [ ]:
df = pd.read_csv('Btech_2020_master_data.csv')
branch = [i[4:6] for i in df['IITP Roll no.']]
df['branch'] = branch
print(len(df))
df = df.drop(df[df.branch == 'CE'].index[:3],axis=0)
print(len(df))